<h1>We have a passion for people!</h1>


<p>We'll just speak from our hearts to you.  People are desperate...hopeless...not knowing where to turn in life.  Many adults have lived painful childhoods that they have never overcome.  They have just walked into adulthood pushing those hurts and pains and feelings deep down. They don't realize they live their lives with this "stuff" and therefore they can never be what God has called them to be or reach their destiny.</p> 

<p><%= image_tag 'prayer.jpg', :class => "right" %> We have a favorite saying:  Rude people have wounded hearts. The Truth of God's Word will set people free.   God has been "showing up" in a profound way and healing the wounded hearts. People with incredible stories of suffering and abuse are learning to forgive, let the bitterness go and supernaturally be touched by God's presence.</p> 

<p>Our ministry team meets at The Outpouring Coffee House &amp Cafe on Tuesday evenings at 7:00 p.m. We have a time of worshiping the Lord together along with words of encouragment and ministering the Word of God. Our time together is led by the Spirit of God. We believe in the gifts of the Spirit: words of wisdom and knowledge, tongues and interpetation of tongues, miracles, gifts of healing, prophecy, discerning of the spirits and deliverance. These are all available to us today. Our ministry team is available to come minister to your church or gathering. Please do not hesitate to contact us with any questions or interests.</p>

<p>Stop in - we'd love for you to experience a time of refreshing!</p>

<h2>About the Leadership</h2>
<h3>Pastors Mark and Heidi</h3>
<p><%= image_tag 'pastors-mark-heidi.jpg', size: "150x225", :class => "left" %> Pastors Mark and Heidi Keister have been married 22 years and have two daughters and a son-in-law.  Erica and Steve Tinker are stationed at Ft. Irwin, California and are expecting their first child; Emily is currently attending KVCC and moving towards her goal of fashion design.  Pastors Mark & Heidi are licensed with Kingsway International Fellowship located in Des Moines, Iowa. They both have been working in the ministry for over 11 years. In that time they have served in many areas, including as youth pastors and senior pastors of Step-of-Faith Ministries. Pastors Mark and Heidi both have a powerful annointed calling on their lives to minister the Word of God prophetically and supernaturally while encouraging people with hope and physical and emotional healing.</p>
<br class="clear">
<h3>Rev. Rebecca and Ron</h3>
<p><%= image_tag 'elders-ron-rebecca.jpg', :class => "right" %> Rev. Rebecca and Ron Hamming were founders of Step-of-Faith Ministries in 2000 and worked in full-time ministry until 2009. Rev. Rebecca is an ordained minister and holds a Masters Degree in Psychology from Western Michigan University. She is a Teacher and very powerful Prophetess. Ron is a retired pipefitter from Pfizer and works hand in hand with his wife on our Ministry team. They serve as Elders for Outpouring Ministries as well as Spiritual parents to Pastors Mark &amp Heidi.</p>

<p>Outpouring Ministries offers professional, Biblical counseling. If you would like to schedule an appointment, please contact Rev. Rebecca Hamming, LLC directly at 269-655-4381.</p>

<h3>Taye Wheeler, Worship Leader</h3>
<p><%= image_tag 'taye.jpg', size: "300x240", :class => "left" %>Taye Wheeler is our Praise &amp Worship leader. She began training in her calling at the age of 13. She became praise and worship leader for Step of Faith Ministries in 2001 and is still leading us into the throne room of God at Outpouring Ministries. She has two wonderful children, Kylie age 13 and Caleb, 11. </p>