
<div class="dash_main">
	<div class="l_col">
		<div class="dash_nav">
			<ul>
				<%= content_tag :li, link_to("Articles", articles_path) %>
				<%= content_tag :li, link_to("Pages", pages_path) %>
				<%= content_tag :li, link_to("Supermodels", supermodels_path) if current_user.role? :SuperAdmin %>	
			</ul>
		</div>
	</div>
</div>



