<div class="home-main">
<h2>So About the Coffee Shop...</h2>
<p><%= image_tag 'coffee-beans.jpg', size: "300x200", class: "right" %> 

It is with heavy hearts that we say goodbye to our outpouring family and friends.  It has been 8 wonderful years! </p>

<p>
The Lord placed us here on February 19, 2005.  It has been an amazing journey.  Our slogan is "It's not just about the coffee, but relationships."  I believe we have lived that out everyday.  it has been a true blessing to have you all a part of our life and we hope to continue to build those relationships.</p>

<p>
We have been so blessed by everyone who has partnered with us to help make this place a great success.  We pray that we have touched your life in some way.</p>

<p>
It has become too difficult to continue to stay at this location due to differences between our landlord and us.  There comes a time when the Lord shuts a door and he opens another.</p>

<p>
For those of you who have asked us to find another place, we have looked and researched every place available for the last six months.  We have found nothing that will meet our needs both physically and financially.</p>

<p>
We know that our footsteps are ordered of the Lord and He continues to open new opportunities for us.</p>

<p>
Our website is in the process of being updated, so please check back with us.  We want to keep in touch with the relationships that we have established and continue to share the love of Christ.</p>
 <p>
All Our Love and Prayers,</p>

<p>
Taye & Heidi
</p>



<h1>SPIRITUAL 9-1-1 WALK IN CLINIC</h1>


<p>God has called us to preach the gospel, heal the sick, set the captives free and heal the broken hearted. That is our passion.</p>

<p>This is a place where God's annointing flows and miracles happen. God has directed us into helping others through deliverance, healing, and Biblical counseling. We work with the five-fold ministry to accomplish all that God has available for each individual. Our Ministry team meets on Tuesday evenings at 7:00 p.m. and we minister to those who come in needing a supernatural refreshing.  God is breaking us out of our traditions and moving the way He wants to move while changing lives! We would love for you to come and be a part of the supernatural power of God or schedule our ministry team to come to you!</p>

</div>

<div class="home-sidebar">
	<%= image_tag 'sisters.jpg',size: "300x240"%> 
	<p>Last Day of Business is<br/>
	 <strong>Saturday, March 2nd, 2013</strong></p>
	<h3>Share Your Memories</h3>
	<em>Leave a comment for Taye &amp Heidi</em>
</div>



