<h1>Home</h1>

<p class="lowercase"><%= image_tag 'rails.png', size: "150x50", :class => "left" %>

IT IS WITH HEAVY HEARTS THAT WE SAY GOODBYE TO OUR OUTPOURING FAMILY AND FRIENDS! IT HAS BEEN 8 WONDERFUL YEARS.

THE LORD PLACED US HERE ON FEBRUARY 19, 2005. IF HAS BEEN AN AMAZING JOURNEY. OUR SLOGAN IS “IT’S NOT JUST ABOUT THE COFFEE BUT RELATIONSHIPS”. I BELIEVE WE HAVE LIVED THAT OUT EVERYDAY. IT HAS BEEN A TRUE BLESSING TO HAVE YOU ALL A PART OF OUR LIFE AND WE HOPE TO CONTINUE TO BUILD THOSE RELATIONSHIPS.

WE HAVE BEEN SO BLESSED BY EVERYONE WHO HAS PARTNERED WITH US TO HELP MAKE THIS PLACE A GREAT SUCCESS. WE PRAY THAT WE HAVE TOUCHED YOUR LIFE IN SOME WAY.

IT HAS BECOME TO0 DIFFICULT TO CONTINUE TO STAY AT THIS LOCATION DUE TO DIFFERENCES BETWEEEN OUR LANDLORD AND US. THERE COMES A TIME WHEN THE LORD SHUTS A DOOR AND HE OPENS ANOTHER.

FOR THOSE OF YOU WHO HAVE ASKED US TO FIND ANOTHER PLACE, WE HAVE LOOKED AND RESEARCHED EVERY PLACE AVAILABLE FOR THE LAST SIX MONTHS. WE HAVE FOUND NOTHING THAT WILL MEET OUR NEEDS BOTH PHYSICALLY AND FINANCIALLY.

WE KNOW THAT OUR FOOTSTEPS ARE ORDERED OF THE LORD AND HE CONTINUES TO OPEN NEW OPPORTUNITIES FOR US.

OUR WEBSITE IS IN THE PROCESS OF BEING UPDATED, SO PLEASE CHECK BACK WITH US.  WE WANT TO KEEP IN TOUCH WITH THE RELATIONSHIPS THAT WE HAVE ESTABLISHED AND CONTINUE TO SHARE THE LOVE OF CHRIST.

ALL OUR LOVE AND PRAYERS
TAYE & HEIDI
</p>

<p>
	
</p>

<p>Find me in app/views/static_pages/home.html.erb</p>
