<% if comment.body %>
  <div class="comment">
    <p class="author">
      <b><%= comment.name %></b>
      said:
    </p>

    <p>
      <%= comment.body %>
    </p>
    

    <%= link_to 'Edit | ', [@article, comment]  if can? :edit, comment %>
    <%= link_to 'Delete', [@article, comment], :confirm => 'Are you sure?', :method => :delete if can? :edit, comment %>
  </div>
<% end %>