<ul class="page_index">
	<% @pages.each do |page| %>
		<li>
			<ul class="page_detail">
				<%= content_tag :li, page.title %>
		
				<%= content_tag :li, link_to("show", page_path(page)) %>
				<%= content_tag :li, link_to("delete", page_path(page), :confirm => "are you sure?", :method => :delete ) %>
			</ul>
		</li>
	<% end %>
</ul>


<%= content_tag :li, link_to("Create a new page", new_page_path) %>