
<ul class="model_table">
	<li>
		<ul class="instance_detail">
			<%= content_tag :li, @link.location, class:"name" %><br />
			<ul class="crud_buttons">

				<%= content_tag :li, link_to("edit", edit_link_path(@link)), class:"edit" %>
				<%= content_tag :li, link_to("delete", link_path(@link), :confirm => "are you sure?", :method => :delete ), class:"delete" %>
			</ul>
		</ul>
		<br class="clear">
	</li>
	<br />

	<%= content_tag :li, link_to('View All links', links_path) %>
</ul>


